@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-50 text-slate-900;
    }
}

@layer components {
    [x-cloak] {
        display: none !important;
    }

    .sams-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: rgb(203 213 225) transparent;
    }

    .sams-scrollbar::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }

    .sams-scrollbar::-webkit-scrollbar-thumb {
        background: rgb(203 213 225);
        border-radius: 999px;
    }

    .sams-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }
}
